:where(html) {
    --lrs-black: #000000;
    --lrs-white: #ffffff;
    --lrs-purple-9: #312766;
    --lrs-purple-8: #4a3a99;
    --lrs-purple-7: #624ECC;
    --lrs-purple-6: #7B61FF;
    --lrs-purple-5: #9581ff;
    --lrs-purple-4: #B0A0FF;
    --lrs-purple-3: #CAC0FF;
    --lrs-purple-2: #E5DFFF;
    --lrs-purple-1: #F2EFFF;
    --lrs-blue-9: #003566;
    --lrs-blue-8: #005099;
    --lrs-blue-7: #006ACC;
    --lrs-blue-6: #0085FF;
    --lrs-blue-5: #339DFF;
    --lrs-blue-4: #66B6FF;
    --lrs-blue-3: #99CEFF;
    --lrs-blue-2: #CCE7FF;
    --lrs-blue-1: #E5F3FF;
    --lrs-green-9: #004A15;
    --lrs-green-8: #00701F;
    --lrs-green-7: #00952A;
    --lrs-green-6: #00BA34;
    --lrs-green-5: #33C85D;
    --lrs-green-4: #66D685;
    --lrs-green-3: #99E3AE;
    --lrs-green-2: #CCF1D6;
    --lrs-green-1: #E5F8EB;
    --lrs-yellow-9: #664A00;
    --lrs-yellow-8: #996E00;
    --lrs-yellow-7: #CC9300;
    --lrs-yellow-6: #FFB800;
    --lrs-yellow-5: #FFC633;
    --lrs-yellow-4: #FFD466;
    --lrs-yellow-3: #FFE399;
    --lrs-yellow-2: #FFF1CC;
    --lrs-yellow-1: #FFF8E5;
    --lrs-red-9: #5D1212;
    --lrs-red-8: #8C1A1A;
    --lrs-red-7: #BA2323;
    --lrs-red-6: #E92C2C;
    --lrs-red-5: #ED5656;
    --lrs-red-4: #F28080;
    --lrs-red-3: #F6ABAB;
    --lrs-red-2: #FBD5D5;
    --lrs-red-1: #FDEAEA;
    --lrs-gray-9: #202224;
    --lrs-gray-8: #404548;
    --lrs-gray-7: #61676B;
    --lrs-gray-6: #818A8F;
    --lrs-gray-5: #A1ACB3;
    --lrs-gray-4: #B4BDC2;
    --lrs-gray-3: #C7CDD1;
    --lrs-gray-2: #D9DEE1;
    --lrs-gray-1: #ECEEF0;
    --lrs-gray-0: #F6F7F7;
}