:where(html) {
    --lrs-font-sans: '';
    --lrs-font-serif: '';
    --lrs-font-mono: '';
    --lrs-font-weight-100: 100;
    --lrs-font-weight-200: 200;
    --lrs-font-weight-300: 300;
    --lrs-font-weight-400: 400;
    --lrs-font-weight-500: 500;
    --lrs-font-weight-600: 600;
    --lrs-font-weight-700: 700;
    --lrs-font-weight-800: 800;
    --lrs-font-weight-900: 900;
    --lrs-line-height-0: .95;
    --lrs-line-height-1: 1.1;
    --lrs-line-height-2: 1.25;
    --lrs-line-height-3: 1.375;
    --lrs-line-height-4: 1.5;
    --lrs-line-height-5: 1.75;
    --lrs-line-height-6: 2;
    --lrs-letterspacing-0: -0.05em;
    --lrs-letterspacing-1: 0.25em;
    --lrs-letterspacing-2: 0.050em;
    --lrs-letterspacing-3: 0.075em;
    --lrs-letterspacing-4: 0.150em;
    --lrs-letterspacing-5: 0.500em;
    --lrs-letterspacing-6: 0.750em;
    --lrs-letterspacing-7: 1em;
    --lrs-font-size-8: var(--lrs-size-8);
    --lrs-font-size-10: var(--lrs-size-10);
    --lrs-font-size-12: var(--lrs-size-12);
    --lrs-font-size-14: var(--lrs-size-14);
    --lrs-font-size-16: var(--lrs-size-16);
    --lrs-font-size-20: var(--lrs-size-20);
    --lrs-font-size-24: var(--lrs-size-24);
    --lrs-font-size-28: var(--lrs-size-28);
    --lrs-font-size-32: var(--lrs-size-32);
    --lrs-font-size-40: var(--lrs-size-40);
    --lrs-font-size-48: var(--lrs-size-48);
    --lrs-font-size-56: var(--lrs-size-56);
    --lrs-font-size-64: var(--lrs-size-64);
    --lrs-header-1: 20ch;
    --lrs-header-2: 25ch;
    --lrs-header-3: 45rem;
    --lrs-content-1: 20ch;
    --lrs-content-2: 45ch;
    --lrs-content-3: 60ch;
}