:where(html) {
    --lrs-green-9: #004A15;
    --lrs-green-8: #00701F;
    --lrs-green-7: #00952A;
    --lrs-green-6: #00BA34;
    --lrs-green-5: #33C85D;
    --lrs-green-4: #66D685;
    --lrs-green-3: #99E3AE;
    --lrs-green-2: #CCF1D6;
    --lrs-green-1: #E5F8EB;
}