:where(html) {
    --lrs-action-basic-base: var(--lrs-white);
    --lrs-action-basic-hover: var(--lrs-gray-1);
    --lrs-action-basic-pressed: var(--lrs-gray-2);
    --lrs-action-basic-depressed: var(--lrs-gray-8);
    --lrs-action-primary-base: var(--lrs-purple-6);
    --lrs-action-primary-hover: var(--lrs-purple-7);
    --lrs-action-primary-pressed: var(--lrs-purple-5);
    --lrs-action-primary-depressed: var(--lrs-purple-8);
    --lrs-action-secondary-hover: var(--lrs-purple-1);
    --lrs-action-secondary-pressed: var(--lrs-purple-2);
    --lrs-action-danger-base: var(--lrs-red-6);
    --lrs-action-danger-hover: var(--lrs-red-7);
    --lrs-action-danger-pressed: var(--lrs-red-5);
    --lrs-action-danger-depressed: var(--lrs-red-8);
    --lrs-border-base: var(--lrs-gray-6);
    --lrs-border-hover: var(--lrs-gray-7);
    --lrs-border-pressed: var(--lrs-gray-8);
    --lrs-border-subtle: var(--lrs-gray-2);
    --lrs-border-contrast: var(--lrs-gray-9);
    --lrs-border-primary-base: var(--lrs-purple-6);
    --lrs-border-primary-hover: var(--lrs-purple-7);
    --lrs-border-primary-pressed: var(--lrs-purple-8);
    --lrs-border-primary-subtle: var(--lrs-purple-3);
    --lrs-border-danger-base: var(--lrs-red-5);
    --lrs-border-danger-subtle: var(--lrs-red-3);
    --lrs-border-success-base: var(--lrs-green-6);
    --lrs-border-success-subtle: var(--lrs-green-3);
    --lrs-border-info-base: var(--lrs-blue-5);
    --lrs-border-info-subtle: var(--lrs-blue-3);
    --lrs-border-warning-base: var(--lrs-yellow-6);
    --lrs-border-warning-subtle: var(--lrs-yellow-3);
    --lrs-text-emphasis: var(--lrs-gray-9);
    --lrs-text-subtle: var(--lrs-gray-7);
    --lrs-text-primary: var(--lrs-purple-7);
    --lrs-text-danger: var(--lrs-red-7);
    --lrs-text-success: var(--lrs-green-8);
    --lrs-text-info: var(--lrs-blue-7);
    --lrs-text-warning: var(--lrs-yellow-8);
    --lrs-surface-default: var(--lrs-white);
    --lrs-surface-layer: var(--lrs-gray-0);
    --lrs-surface-primary: var(--lrs-purple-1);
    --lrs-surface-danger: var(--lrs-red-1);
    --lrs-surface-success: var(--lrs-green-1);
    --lrs-surface-info: var(--lrs-blue-1);
    --lrs-surface-warning: var(--lrs-yellow-1);
    --lrs-interactive-focus: var(--lrs-blue-3);
    --lrs-interactive-base: var(--lrs-blue-6);
    --lrs-interactive-hover: var(--lrs-blue-7);
    --lrs-disabled-base: var(--lrs-gray-3);
    --lrs-disabled-subtle: var(--lrs-gray-0);
}