:where(html) {
    --lrs-purple-9: #312766;
    --lrs-purple-8: #4a3a99;
    --lrs-purple-7: #624ECC;
    --lrs-purple-6: #7B61FF;
    --lrs-purple-5: #9581ff;
    --lrs-purple-4: #B0A0FF;
    --lrs-purple-3: #CAC0FF;
    --lrs-purple-2: #E5DFFF;
    --lrs-purple-1: #F2EFFF;
}