:where(html) {
    --lrs-red-9: #5D1212;
    --lrs-red-8: #8C1A1A;
    --lrs-red-7: #BA2323;
    --lrs-red-6: #E92C2C;
    --lrs-red-5: #ED5656;
    --lrs-red-4: #F28080;
    --lrs-red-3: #F6ABAB;
    --lrs-red-2: #FBD5D5;
    --lrs-red-1: #FDEAEA;
}