:where(html) {
    --lrs-size-1: 0.0625rem;
    --lrs-size-2: 0.125rem;
    --lrs-size-3: 0.1875rem;
    --lrs-size-4: 0.25rem;
    --lrs-size-5: 0.3125rem;
    --lrs-size-6: 0.375rem;
    --lrs-size-7: 0.4375rem;
    --lrs-size-8: 0.5rem;
    --lrs-size-10: 0.625rem;
    --lrs-size-12: 0.75rem;
    --lrs-size-14: 0.875rem;
    --lrs-size-16: 1rem;
    --lrs-size-18: 1.125rem;
    --lrs-size-20: 1.25rem;
    --lrs-size-24: 1.5rem;
    --lrs-size-28: 1.75rem;
    --lrs-size-32: 2rem;
    --lrs-size-36: 2.25rem;
    --lrs-size-40: 2.5rem;
    --lrs-size-44: 2.75rem;
    --lrs-size-48: 3rem;
    --lrs-size-52: 3.25rem;
    --lrs-size-56: 3.5rem;
    --lrs-size-60: 3.75rem;
    --lrs-size-64: 4rem;
    --lrs-size-72: 4.5rem;
    --lrs-size-80: 5rem;
    --lrs-size-88: 5.5rem;
    --lrs-size-96: 6rem;
    --lrs-size-112: 7rem;
    --lrs-size-128: 8rem;
    --lrs-size-fluid-1: clamp(.5rem, 1vw, 1rem);
    --lrs-size-fluid-2: clamp(1rem, 2vw, 1.5rem);
    --lrs-size-fluid-3: clamp(1.5rem, 3vw, 2rem);
    --lrs-size-fluid-4: clamp(2rem, 4vw, 3rem);
    --lrs-size-fluid-5: clamp(4rem, 5vw, 5rem);
    --lrs-size-fluid-6: clamp(5rem, 7vw, 7.5rem);
    --lrs-size-fluid-7: clamp(7.5rem, 10vw, 10rem);
    --lrs-size-fluid-8: clamp(10rem, 20vw, 15rem);
    --lrs-size-fluid-9: clamp(15rem, 30vw, 20rem);
    --lrs-size-fluid-10: clamp(20rem, 40vw, 30rem);
}