:where(html) {
    --lrs-blue-9: #003566;
    --lrs-blue-8: #005099;
    --lrs-blue-7: #006ACC;
    --lrs-blue-6: #0085FF;
    --lrs-blue-5: #339DFF;
    --lrs-blue-4: #66B6FF;
    --lrs-blue-3: #99CEFF;
    --lrs-blue-2: #CCE7FF;
    --lrs-blue-1: #E5F3FF;
}