:where(html) {
    --lrs-yellow-9: #664A00;
    --lrs-yellow-8: #996E00;
    --lrs-yellow-7: #CC9300;
    --lrs-yellow-6: #FFB800;
    --lrs-yellow-5: #FFC633;
    --lrs-yellow-4: #FFD466;
    --lrs-yellow-3: #FFE399;
    --lrs-yellow-2: #FFF1CC;
    --lrs-yellow-1: #FFF8E5;
}